services:
  - type: web
    name: gdz-bot-working
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: BOT_TOKEN
        value: 8456034289:AAFocvpSevSlavQh_FJnbyJ-WdpVa4Zw9Hw
      - key: PORT
        value: 3000
    healthCheckPath: /health
